{% extends 'base.html.twig' %}

{% block title %}- {{ pet.name }}{% endblock %}

{% block body %}
    <div id="welcome">
        <h1>{{ pet.name }} <span>the {{ pet.species }}</span></h1>
        <h2>Owned by {{ owner.username }}</span></h2>
    </div>
    <table>
        <tr>
            <td><b>Gender</b></td>
            <td>
                {{ 
                    pet.gender == 'M' ? 'Male' : 
                    pet.gender == 'F' ? 'Female' : "Unknown" 
                }}
            </td>
        </tr>
        <tr>
            <td><b>Birthday</b></td>
            <td>{{ pet.birthdate.format('M d, Y')|default("Unknown") }}</td>
        </tr>
        <tr>
            <td><b>Neutered</b></td>
            <td>{{ (pet.neutered ? "Yes" : "No")|default("Unknown") }}</td>
        </tr>
        <tr>
            <td><b>Breed</b></td>
            <td>{{ pet.breed|default("Unknown") }}</td>
        </tr>
        <tr>
            <td><b>Weight</b></td>
            <td>{{ pet.weight|default("Unknown") }} kg</td>
        </tr>
        <tr>
            <td><b>Colour</b></td>
            <td>{{ pet.colour|default("Unknown") }}</td>
        </tr>
    </table>

    <p>{{ pet.description }}</p>
{% endblock %}
